

<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Entregable Angular</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..."
                                #nombre>
                        </div>
                        <div class="form-group">
                            <label for="Descripcion">Descripcion</label>
                            <input type="text" class="form-control" id="descripcion" placeholder="Ingrese una  descripcion..." #descripcion>
                        </div>
                        <button type="submit" class="btn btn-primary"
                            (click)="guardar(nombre.value, descripcion.value)">Guardar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <app-componente1 *ngFor="let d of lista" [lista]="d" ></app-componente1>
    </div>
</div>