<div class="card-content">
    <div class="card-img">
      
        <span>
            <h4>{{lista.nombre}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{lista.nombre}}</h3>
        <p>{{lista.descripcion}}</p>
      
    </div>
</div>